<a href="https://colab.research.google.com/github/CharlesPrado23/Notebooks/blob/main/Semana8/Semana8_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Content-based Recommender Systems

In [1]:
import pandas as pd
import numpy as np

In [37]:
df_title_basics = pd.read_csv('/content/IMDb movies.csv')
df_title_basics.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

  imdb_title_id  ... reviews_from_critics
0     tt0000009  ...                  2.0
1     tt0000574  ...                  7.0
2     tt0001892  ...                  2.0
3     tt0002101  ...                  3.0
4     tt0002130  ...                 14.0

[5 rows x 22 columns]

In [38]:
index = df_title_basics['year'].str.match('[A-Z]') 
index
kx=[]
for i in range(len(index)): 
    if index[i] == True:
        kx.append(i)
kx      
for i in range(len(kx)):
    df_title_basics = df_title_basics.drop(index = kx[i])

In [41]:
df_title_basics[["year"]] = df_title_basics[["year"]].apply(pd.to_numeric)
df_temp = df_title_basics[(df_title_basics['year'] > 1950) & (df_title_basics['country'] == 'USA') & (df_title_basics['avg_vote'] > 7.5) ]
movies_df = df_temp[['original_title','genre']]

In [42]:
movies_df.tail()

                              original_title                      genre
85093                            Dark Waters  Biography, Drama, History
85141  Michael Jackson: Smooth Criminal (II)     Action, Crime, Fantasy
85151                          Breaking Fast              Comedy, Drama
85518       The Guy Who Didn't Like Musicals            Comedy, Musical
85744           Apollo: Missions to the Moon                    History

In [43]:
movies_df.duplicated().sum()

0

In [44]:
movies_df = movies_df.drop_duplicates()

In [45]:
movies_df['genre'] = movies_df.genre.str.split(',')
movies_df

                              original_title                           genre
6752                         Ace in the Hole             [Drama,  Film-Noir]
6793           The Day the Earth Stood Still                [Drama,  Sci-Fi]
6798                         Detective Story     [Crime,  Drama,  Film-Noir]
6979                      A Place in the Sun               [Drama,  Romance]
7024                    Strangers on a Train  [Crime,  Film-Noir,  Thriller]
...                                      ...                             ...
85093                            Dark Waters   [Biography,  Drama,  History]
85141  Michael Jackson: Smooth Criminal (II)      [Action,  Crime,  Fantasy]
85151                          Breaking Fast                [Comedy,  Drama]
85518       The Guy Who Didn't Like Musicals              [Comedy,  Musical]
85744           Apollo: Missions to the Moon                       [History]

[605 rows x 2 columns]

In [46]:
moviesWithGenres_df = movies_df.copy()
for index, row in movies_df.iterrows():
    for genre in row['genre']:
        moviesWithGenres_df.at[index, genre] = 1
#Filling in the NaN values with 0 to show that a movie doesn't have that column's genre
moviesWithGenres_df = moviesWithGenres_df.fillna(0)
moviesWithGenres_df.head()

                     original_title  ... History
6752                Ace in the Hole  ...     0.0
6793  The Day the Earth Stood Still  ...     0.0
6798                Detective Story  ...     0.0
6979             A Place in the Sun  ...     0.0
7024           Strangers on a Train  ...     0.0

[5 rows x 40 columns]

In [23]:
#moviesWithGenres_df[moviesWithGenres_df['original_title'].str.contains("Matrix")]

In [47]:
userInput = [
            {'original_title':'A Beautiful Mind', 'rating':7.0},
            {'original_title':'The Irishman', 'rating':3.5},
            {'original_title':'The Godfather', 'rating':7.0},
            {'original_title':"Captain America: Civil War", 'rating':5},
            {'original_title':'Star Wars', 'rating':8.5},
            {'original_title':'The Matrix', 'rating':8.5} 
         ] 
inputMovies = pd.DataFrame(userInput)
inputMovies

               original_title  rating
0            A Beautiful Mind     7.0
1                The Irishman     3.5
2               The Godfather     7.0
3  Captain America: Civil War     5.0
4                   Star Wars     8.5
5                  The Matrix     8.5

In [48]:
inputId = movies_df[movies_df['original_title'].isin(inputMovies['original_title'].tolist())]
#Then merging it so we can get the movieId. It's implicitly merging it by title.
inputMovies = pd.merge(inputId, inputMovies)
inputMovies

               original_title                           genre  rating
0               The Godfather                 [Crime,  Drama]     7.0
1                   Star Wars  [Action,  Adventure,  Fantasy]     8.5
2                  The Matrix               [Action,  Sci-Fi]     8.5
3            A Beautiful Mind             [Biography,  Drama]     7.0
4                The Irishman     [Biography,  Crime,  Drama]     3.5
5  Captain America: Civil War   [Action,  Adventure,  Sci-Fi]     5.0

In [49]:
userMovies = moviesWithGenres_df[moviesWithGenres_df['original_title'].isin(inputMovies['original_title'].tolist())]
userMovies

                   original_title  ... History
15528               The Godfather  ...     0.0
18216                   Star Wars  ...     0.0
32229                  The Matrix  ...     0.0
39274            A Beautiful Mind  ...     0.0
56680                The Irishman  ...     0.0
71476  Captain America: Civil War  ...     0.0

[6 rows x 40 columns]

In [50]:
userMovies = userMovies.reset_index(drop=True)
#Dropping unnecessary issues due to save memory and to avoid issues
userGenreTable = userMovies.drop('original_title', 1).drop('genre', 1)
userGenreTable

   Drama   Film-Noir   Sci-Fi  Crime  ...   Action  Musical  Fantasy  History
0    0.0         0.0      0.0    1.0  ...      0.0      0.0      0.0      0.0
1    0.0         0.0      0.0    0.0  ...      0.0      0.0      0.0      0.0
2    0.0         0.0      1.0    0.0  ...      0.0      0.0      0.0      0.0
3    0.0         0.0      0.0    0.0  ...      0.0      0.0      0.0      0.0
4    0.0         0.0      0.0    0.0  ...      0.0      0.0      0.0      0.0
5    0.0         0.0      1.0    0.0  ...      0.0      0.0      0.0      0.0

[6 rows x 38 columns]

In [51]:
inputMovies['rating']

0    7.0
1    8.5
2    8.5
3    7.0
4    3.5
5    5.0
Name: rating, dtype: float64

In [52]:
#Dot produt to get weights
userProfile = userGenreTable.transpose().dot(inputMovies['rating'])
#The user profile
userProfile

Drama          0.0
 Film-Noir     0.0
 Sci-Fi       13.5
Crime          7.0
 Drama        17.5
 Romance       0.0
 Thriller      0.0
Adventure      0.0
 Western       0.0
 Music         0.0
Comedy         0.0
 Musical       0.0
 War           0.0
Mystery        0.0
 Mystery       0.0
 Comedy        0.0
 Family        0.0
 Horror        0.0
Horror         0.0
Romance        0.0
 History       0.0
Action        22.0
Biography     10.5
 Adventure    13.5
 Biography     0.0
 Sport         0.0
 Crime         3.5
 Fantasy       8.5
Sci-Fi         0.0
Animation      0.0
Thriller       0.0
Music          0.0
Western        0.0
Family         0.0
 Action        0.0
Musical        0.0
Fantasy        0.0
History        0.0
dtype: float64

In [53]:
#Now let's get the genres of every movie in our original dataframe
genreTable = moviesWithGenres_df.set_index(moviesWithGenres_df['original_title'])
#And drop the unnecessary information
genreTable = genreTable.drop('original_title', 1).drop('genre', 1)
genreTable

                                       Drama   Film-Noir  ...  Fantasy  History
original_title                                            ...
Ace in the Hole                          1.0         1.0  ...      0.0      0.0
The Day the Earth Stood Still            1.0         0.0  ...      0.0      0.0
Detective Story                          0.0         1.0  ...      0.0      0.0
A Place in the Sun                       1.0         0.0  ...      0.0      0.0
Strangers on a Train                     0.0         1.0  ...      0.0      0.0
...                                      ...         ...  ...      ...      ...
Dark Waters                              0.0         0.0  ...      0.0      0.0
Michael Jackson: Smooth Criminal (II)    0.0         0.0  ...      0.0      0.0
Breaking Fast                            0.0         0.0  ...      0.0      0.0
The Guy Who Didn't Like Musicals         0.0         0.0  ...      0.0      0.0
Apollo: Missions to the Moon             0.0         0.0  ...      0.0      1.0

[605 rows x 38 columns]

In [54]:
#Multiply the genres by the weights and then take the weighted average
recommendationTable_df = ((genreTable*userProfile).sum(axis=1))/(userProfile.sum())
recommendationTable_df

original_title
Ace in the Hole                          0.000000
The Day the Earth Stood Still            0.140625
Detective Story                          0.255208
A Place in the Sun                       0.000000
Strangers on a Train                     0.072917
                                           ...
Dark Waters                              0.291667
Michael Jackson: Smooth Criminal (II)    0.354167
Breaking Fast                            0.182292
The Guy Who Didn't Like Musicals         0.000000
Apollo: Missions to the Moon             0.000000
Length: 605, dtype: float64

In [55]:
recommendationTable_df = recommendationTable_df.sort_values(ascending=False)
#Just a peek at the values
recommendationTable_df.head(50)

original_title
The Last of the Mohicans                                  0.552083
Avengers: Endgame                                         0.552083
Logan                                                     0.552083
Star Trek: First Contact                                  0.552083
The Avengers                                              0.510417
Captain America: The Winter Soldier                       0.510417
Serenity                                                  0.510417
Jurassic Park                                             0.510417
Star Trek II: The Wrath of Khan                           0.510417
Rogue One                                                 0.510417
Star Trek Into Darkness                                   0.510417
Star Wars: Episode VII - The Force Awakens                0.510417
Captain America: Civil War                                0.510417
Avengers: Infinity War                                    0.510417
The Crow                                                  0.500000
Star Wars: Episode VI - Return of the Jedi                0.458333
Star Wars                                                 0.458333
Pirates of the Caribbean: The Curse of the Black Pearl    0.458333
Avatar                                                    0.458333
Star Wars: Episode V - The Empire Strikes Back            0.458333
End of Watch                                              0.447917
3:10 to Yuma                                              0.447917
The French Connection                                     0.447917
The Fugitive                                              0.447917
Badlands                                                  0.447917
Hell or High Water                                        0.447917
Loyalty & Respect                                         0.447917
Warrior                                                   0.411458
The Longest Day                                           0.411458
The Game                                                  0.411458
Only the Brave                                            0.411458
Empire of the Sun                                         0.411458
Watchmen                                                  0.411458
Ford v Ferrari                                            0.411458
Nobody's Perfect                                          0.411458
Tombstone                                                 0.411458
Rio Bravo                                                 0.411458
The Oscar Nominated Short Films 2018: Live Action         0.411458
Blade Runner                                              0.369792
Raiders of the Lost Ark                                   0.369792
New Prime                                                 0.369792
Thor: Ragnarok                                            0.369792
Guardians of the Galaxy Vol. 2                            0.369792
Guardians of the Galaxy                                   0.369792
Indiana Jones and the Last Crusade                        0.369792
Deadpool                                                  0.369792
Die Hard: With a Vengeance                                0.369792
Indiana Jones and the Temple of Doom                      0.369792
Deadpool 2                                                0.369792
The Matrix                                                0.369792
dtype: float64